<h3>{{titulo}} </h3>
<hr>
<!-- #formProducto="ngForm" -->
<form #formProducto="ngForm" (ngSubmit)="onSubmit()" class="col-6 font-weight-bold">
    <label>Nombre
       <span *ngIf="!nombre.valid && nombre.touched" >El nombre es obligatorio </span>
    </label>
    <input type="text" #nombre="ngModel" name="nombre" [(ngModel)]="producto.nombre" class="form-control" required />

    <label>Descripción
        <span *ngIf="!descripcion.valid && descripcion.touched" >La dirección es obligatoria </span>
    </label>
    <textarea class="form-control" #descripcion="ngModel" name="descripcion" [(ngModel)]="producto.descripcion" required></textarea>

    <label>Precio
        <span *ngIf="!precio.valid && precio.touched" >El precio no es correcto</span>
    </label>
    <input type="text" #precio="ngModel" name="precio" [(ngModel)]="producto.precio" class="form-control" required pattern="[0-9]+" />

    <label>Imagen
        <!-- <span *ngIf="!imagen.valid && imagen.touched" >La imagen es obligatoria </span> -->
    </label>
    <input type="file" class="form-control" required /> <br><br>

    <input type="submit" value="{{titulo}}" [disabled]="!formProducto.form.valid" class="btn btn-success">


</form>